services:
  db:
    image: mariadb:11.4
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: magento
      MARIADB_USER: magento
      MARIADB_PASSWORD: magento
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  opensearch:
    image: opensearchproject/opensearch:3.0.0
    environment:
      - discovery.type=single-node
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch_data:/usr/share/opensearch/data

  valkey:
    image: valkey/valkey:8.0-alpine

  rabbitmq:
    image: rabbitmq:4.1-management-alpine

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"
      - "1025:1025"

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        - USER_ID=501
        - GROUP_ID=20
    volumes:
      - .:/var/www/html
      - ./docker/mkcert:/root/.local/share/mkcert
    environment:
      - MAGE_MODE=developer
    depends_on:
      - db
      - opensearch
      - valkey
      - rabbitmq

  web:
    image: nginx:1.28-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/certs:/etc/nginx/certs
      - ./docker/mkcert:/root/.local/share/mkcert
    depends_on:
      - app

volumes:
  db_data:
  opensearch_data:
